html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  color: #9C3708;
  background-color: #EEEFE2;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  font-size: 62.2%;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.navbar {
  font-size: 2.5rem;
  text-align: right;
  margin: 1rem;
  margin-top: 2rem;
  column-gap: 2rem;
}
.navbar .flex-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar .flex-navbar .nav-item {
  margin-right: 2rem;
  text-align: right;
  font-size: 4rem;
  padding-inline: 1rem;
  text-decoration: none;
  font-weight: bold;
  padding: 30px 30px;
}
.navbar .flex-navbar .nav-item .dropdown-menu {
  font-size: 2rem;
}
.navbar .flex-navbar .nav-item .nav-link {
  font-size: 2rem;
  color: #9C3708;
}
.navbar .flex-navbar .navbar-brand {
  margin-left: 2rem;
}

.banner {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.container {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.container .imageContainer p {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 770px) {
  .container {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .container .imageContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container .imageContainer .homeImage {
    margin: 0 auto;
  }
}
.pageTitle {
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 4rem;
}

.pageContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  justify-content: space-between;
}
.pageContainer .pageText {
  width: 50%;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 1rem;
  margin-top: 3rem;
}
.pageContainer .pageImage {
  width: 30%;
  border: 10px solid #DED2B1;
  box-shadow: 9px 7px 14px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 3rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .pageContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .pageContainer .pageImage {
    width: 90%;
    margin: 0 auto;
  }
  .pageContainer .pageText {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
.product {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.product .containerProductImage p {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 770px) {
  .product {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .product .containerProductImage {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .product .containerProductImage .productImage {
    margin: 0 auto;
  }
}
.personcontainer {
  margin-top: 3rem;
}
.personcontainer .pedidosPersonalizados {
  text-align: left;
  font-size: 3rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}
.personcontainer .person {
  font-size: 20px;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.personcontainer .person .personImage {
  width: 420px;
  height: 400px;
  margin: 3rem 3rem;
  border: 10px solid #DED2B1;
  box-shadow: 9px 7px 14px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
}
.personcontainer .person .personImage2 {
  width: 420px;
  height: 400px;
  margin: 3rem 3rem;
  border: 10px solid #DED2B1;
  box-shadow: 9px 7px 14px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
  transform: rotate(90deg);
}
.personcontainer .personalizados {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
}

@media (max-width: 770px) {
  .personcontainer {
    margin: 0 auto;
  }
  .personcontainer .person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .personcontainer .person .personImage {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .personcontainer .person .personImage2 {
    width: 400px;
    margin-top: 10rem;
    height: 341.46px;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  .personcontainer .personalizados {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
}
.contactcontainer {
  display: flex;
  margin-top: 3rem;
}
.contactcontainer .contactText {
  font-size: 3rem;
  margin: 2rem;
}
.contactcontainer .contactform {
  font-size: 2rem;
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
}
.contactcontainer .entercontact {
  margin-left: 20rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactcontainer .contact {
  text-align: center;
  margin: 0% auto;
}
.contactcontainer .contact .contactImage {
  width: 40%;
  border: 10px solid #DED2B1;
  box-shadow: 9px 7px 14px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
  margin-top: 10rem;
  margin-right: 5rem;
}

@media (max-width: 770px) {
  .contactcontainer {
    flex-direction: column;
    justify-content: center;
  }
  .contactcontainer .contact {
    width: 100%;
    margin-right: 2rem;
  }
  .contactcontainer .contact .contactImage {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .contactcontainer .contactform {
    margin: 5%;
    text-align: center;
  }
  .contactcontainer .entercontact {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}
.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  margin: 3rem;
}
.flex-footer .segfooter {
  font-size: 2rem;
  font-weight: bold;
}
.flex-footer .fontfooter {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #9C3708;
  text-decoration: none;
  font-weight: bold;
  transform: translate(15px, -30px);
}
.flex-footer .footerText {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.flex-footer .footerImageContainer {
  text-align: right;
}
.flex-footer .footerImageContainer .footerImage {
  width: 100px;
  margin-right: 2rem;
}

@media (max-width: 770px) {
  .flex-footer {
    flex-direction: column;
    justify-content: center;
  }
  .flex-footer .segfooter {
    font-size: 1.5rem;
  }
  .flex-footer .fontfooter {
    font-size: 1rem;
  }
  .flex-footer .footerText {
    font-size: 2rem;
  }
  .flex-footer .footerImageContainer {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
