.contactcontainer{
    display: flex;
    margin-top: 3rem;
    .contactText{
        font-size: 3rem;
        margin: 2rem;
    }
    .contactform{
        font-size: 2rem;
        margin-left: 20rem;
        display: flex;
        flex-direction: column;
    }
    .entercontact{
        margin-left:20rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }   
    .contact{
        text-align: center;
        margin: 0% auto;
        .contactImage{
            width: 40%;
            border: 10px solid #DED2B1;
            box-shadow: 9px 7px 14px 0px rgba(0,0,0,0.75);
            margin-bottom: 2rem; 
            margin-top: 10rem;  
            margin-right: 5rem;
        }
        
    }         
}

@media (max-width: 770px) {
    .contactcontainer{
        flex-direction: column;
        justify-content: center;
        .contact{
            width: 100%;
            margin-right: 2rem;
            .contactImage{
                width:100%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }        
        }
        .contactform{
            margin: 5%;
            text-align: center;
        }
        .entercontact{
            flex-direction: column;
            justify-content: center;
            margin:0;
        }
    }
} 