.banner{

    background-position: center;
    background-size: cover;
    width: 100%;
    }
    

.container{
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    .imageContainer{
        p {
        font-size: 2rem;  
        text-align: center;

        }
    }
}
@media (max-width: 770px) {
    .container{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        margin-top: 3rem;
        .imageContainer{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .homeImage{
                margin: 0 auto;
            }
        }
        
    }
}
