.navbar{
    font-size: 2.5rem;
    text-align: right;
    margin: 1rem;
    margin-top: 2rem;
    column-gap: 2rem;
    .flex-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .nav-item{
            margin-right: 2rem;
            text-align: right;
            font-size: 4rem;
            padding-inline: 1rem;
            text-decoration: none;
            font-weight: bold;
            padding: 30px 30px;
            .dropdown-menu{
                font-size: 2rem;
            }
            .nav-link{
                font-size: 2rem;
                color: #9C3708;
            }
        }
        .navbar-brand{
            margin-left: 2rem;
        } 
    }
}

