.pageTitle {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 4rem;
}
.pageContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    .pageText {
        width: 50%;
        font-size: 2.5rem;
        text-align: center;
        margin-left: 1rem;
        margin-top: 3rem;
    }
    .pageImage {
        width: 30%;
        border: 10px solid #DED2B1;
        box-shadow: 9px 7px 14px 0px rgba(0,0,0,0.75);
        margin-bottom: 3rem;
        margin-right: 5rem;  
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .pageContainer{
        flex-direction: column;
        justify-content: center;
    }
    .pageImage{
        width: 100%;
    }
    .pageText{
        margin: 0;
        text-align: center;
    }
} 

